In [1]:
import pandas as pd
import numpy as np

In [3]:
cellc = pd.read_csv("/data/Genetic/tab_data/EstimateCellCounts_PPMI_EPICn524final030618.csv")
pat_stat = pd.read_csv("/data/Genetic/tab_data/Patient_Status.csv")
pat_info = pd.read_csv("/data/Genetic/tab_data/PPMI_Meth_n524_for_LONI030718.tsv", delimiter='\t')
raw_dat = pd.read_csv("/data/Genetic/tab_data/beta_post_Funnorm_PPMI_EPICn524final030618.csv")

In [4]:
pat_numbers = list(pat_info["PATNO"].astype(int))

In [5]:
is_PD = lambda id: pat_stat[pat_stat.PATNO == id]["RECRUITMENT_CAT"].values[0] == 'PD'
get_sentrix = lambda id: str(pat_info[pat_info.PATNO == id]["Sentrix ID"].values[0]) + "_" + pat_info[pat_info.PATNO == id]["Sentrix Position"].values[0]
getXVal_cellc = lambda id: cellc[cellc.Sentrix_position == get_sentrix(id)].values[0][1:].astype(float)
getXVal_raw = lambda id: raw_dat[get_sentrix(id)].values

In [6]:
cellc.head()

,Sentrix_position,CD8T,CD4T,NK,Bcell,Mono,Gran
0,200973410159_R03C01,0.098871,0.158745,0.014156,0.050155,0.056538,0.657973
1,200991620021_R01C01,0.052004,0.163162,0.045057,0.047703,0.066119,0.626899
2,200991620021_R03C01,0.092307,0.170316,0.000000,0.084111,0.103215,0.564232
3,200989060105_R03C01,0.145791,0.046767,0.076241,0.052520,0.085288,0.624211
4,200989060135_R07C01,0.017866,0.062666,0.029187,0.026347,0.104616,0.734208

In [7]:
pat_stat.head()

,PATNO,RECRUITMENT_CAT,IMAGING_CAT,ENROLL_DATE,ENROLL_CAT,ENROLL_STATUS,DESCRP_CAT,STATUS_DATE
0,10362,PRODROMA,PRODROMA,NaN,NaN,Excluded,HYP,08/2013
1,10405,PRODROMA,PRODROMA,NaN,NaN,Excluded,HYP,09/2014
2,10496,PRODROMA,PRODROMA,NaN,NaN,Excluded,HYP,06/2013
3,10606,PRODROMA,no image,NaN,NaN,Declined,HYP,08/2013
4,10662,PRODROMA,PRODROMA,NaN,NaN,Excluded,HYP,06/2014

In [11]:
set(pat_stat['RECRUITMENT_CAT'])

{'GENPD', 'GENUN', 'HC', 'PD', 'PRODROMA', 'REGPD', 'REGUN'}

In [8]:
pat_info.head()

   PATNO    Sentrix ID Sentrix Position
0   3000  200973410159           R03C01
1   3001  200991620021           R01C01
2   3002  200991620021           R03C01
3   3003  200989060105           R03C01
4   3004  200989060135           R07C01

In [9]:
raw_dat.head()

,200973410159_R03C01,200991620021_R01C01,200991620021_R03C01,200989060105_R03C01,200989060135_R07C01,200989060162_R04C01,200973410167_R04C01,200973410143_R01C01,200973410143_R06C01,200973410167_R05C01,...,200989060089_R02C01,200989060089_R01C01,200989060089_R04C01,200973410143_R08C01,200973410143_R07C01,200989060089_R03C01,200989060150_R04C01,200989060150_R05C01,200989060150_R06C01,200991620049_R08C01
cg14817997,0.834027,0.849201,0.772995,0.885288,0.772547,0.756429,0.719766,0.775910,0.768914,0.759352,...,0.788239,0.838946,0.845263,0.770405,0.852917,0.783813,0.806930,0.875691,0.661276,0.737917
cg26928153,0.945589,0.948538,0.962199,0.944048,0.926306,0.956061,0.912988,0.955983,0.957120,0.897589,...,0.951206,0.958975,0.957062,0.954738,0.947765,0.958086,0.948044,0.942405,0.954990,0.946272
cg16269199,0.845186,0.911488,0.948206,0.913622,0.778551,0.903924,0.742258,0.934683,0.897787,0.741083,...,0.889774,0.899517,0.908055,0.946297,0.910522,0.895500,0.889243,0.825368,0.913328,0.898812
cg13869341,0.928455,0.885379,0.881643,0.871767,0.771607,0.903789,0.876725,0.893310,0.905738,0.808371,...,0.939357,0.860004,0.869915,0.862361,0.801204,0.867724,0.930523,0.886429,0.809189,0.868601
cg14008030,0.582476,0.536990,0.599218,0.592665,0.522351,0.573422,0.590794,0.616824,0.700732,0.604100,...,0.649126,0.559064,0.597569,0.641305,0.570829,0.642458,0.632344,0.616005,0.596696,0.585895